apiVersion: v1
kind: Service
metadata:
  name: {{ include "vertical-pod-autoscaler.admissionController.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vertical-pod-autoscaler.admissionController.labels" . | nindent 4 }}
  {{- with .Values.admissionController.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  ports:
    - name: https
      port: 443
      targetPort: http
    - name: http-metrics
      port: 8944
      targetPort: http-metrics
  selector:
    {{- include "vertical-pod-autoscaler.admissionController.selectorLabels" . | nindent 4 }}
