{{- $tls := fromYaml (include "vertical-pod-autoscaler.admissionController.webhookCert" .) -}}
{{- if not .Values.admissionController.certManager.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "vertical-pod-autoscaler.admissionController.webhookCertSecret" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{- include "vertical-pod-autoscaler.admissionController.labels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  ca.crt: {{ $tls.caCert }}
  tls.crt: {{ $tls.clientCert }}
  tls.key: {{ $tls.clientKey }}
---
{{- end }}
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ .Values.admissionController.webhook.name }}
  labels:
    {{- include "vertical-pod-autoscaler.admissionController.labels" . | nindent 4 }}
  {{- if .Values.admissionController.certManager.enabled }}
  annotations:
    cert-manager.io/inject-ca-from: {{ printf "%s/%s" .Release.Namespace (include "vertical-pod-autoscaler.admissionController.webhookCertSecret" .) }}
  {{- end }}
webhooks:
  - name: vpa.k8s.io
    admissionReviewVersions:
      - v1
    failurePolicy: Ignore
    sideEffects: None
    clientConfig:
    {{- if not .Values.admissionController.certManager.enabled }}
      caBundle: {{ $tls.caCert }}
    {{- end }}
      service:
        name: {{ include "vertical-pod-autoscaler.admissionController.fullname" . }}
        namespace: {{ .Release.Namespace }}
    rules:
      - operations: ["CREATE"]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
      - operations: ["CREATE", "UPDATE"]
        apiGroups: ["autoscaling.k8s.io"]
        apiVersions: ["*"]
        resources: ["verticalpodautoscalers"]
