apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "fluentd.fullname" . }}
  labels:
    {{- include "fluentd.labels" . | nindent 4 }}
data:
  {{- range $key, $value := .Values.config }}
  {{ $key }}.conf: |-
    {{ $value | nindent 4 }}
  {{- end }}
  {{- if .Values.metrics.enabled }}
  metrics.conf: |
    <source>
      @type prometheus
      port {{ .Values.metrics.service.port }}
    </source>
    <source>
      @type prometheus_monitor
    </source>
    <source>
      @type prometheus_output_monitor
    </source>
{{- end }}
