apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "overprovisioner.pause.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "overprovisioner.pause.labels" . | nindent 4 }}
spec:
  {{- if eq .Values.capacity.mode "fixed" }}
  replicas: {{ .Values.capacity.fixed.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "overprovisioner.pause.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "overprovisioner.pause.selectorLabels" . | nindent 8 }}
      {{- with .Values.pause.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.pause.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "overprovisioner.pause.serviceAccountName" . }}
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        fsGroup: 65534
        seccompProfile:
          type: RuntimeDefault
      priorityClassName: {{ include "overprovisioner.priorityClassName" . }}
      terminationGracePeriodSeconds: 0
      containers:
        - name: pause
          securityContext:
            privileged: false
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 65535
            runAsGroup: 65535
            capabilities:
              drop:
                - ALL
          image: {{ printf "%s:%s" .Values.pause.image.repository (toString .Values.pause.image.tag) }}
          imagePullPolicy: {{ .Values.pause.image.pullPolicy }}
          resources:
            requests:
            {{- with .Values.capacity.resources }}
              {{- toYaml . | nindent 14 }}
            {{- end }}
            limits:
            {{- with .Values.capacity.resources }}
              {{- toYaml . | nindent 14 }}
            {{- end }}
      {{- with .Values.pause.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.pause.affinity }}
      {{- $_ := include "overprovisioner.pause.patchAffinity" $ }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.pause.topologySpreadConstraints }}
      {{- $_ := include "overprovisioner.pause.patchTopologySpreadConstraints" $ }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.pause.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
