{{- if .Values.config.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nexus3.configConfigMapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nexus3.labels" . | nindent 4 }}
data:
  anonymous.json: |
    {"enabled":{{ .Values.config.anonymous.enabled }}}
{{- if .Values.config.realms.enabled }}
  realms.json: |
    {{- .Values.config.realms.values | toJson | nindent 4 }}
{{- end }}
  nx-metrics-role.json: |
    {"id":"nx-metrics","source":"default","name":"nx-metrics","description":"Metrics Role","privileges":["nx-metrics-all"],"roles":[]}
{{- range .Values.config.roles }}
  {{ .id }}-role.json: |
    {{- . | toJson | nindent 4 }}
{{- end }}
{{- if .Values.config.anonymous.enabled }}
  anonymous-user.json: |
    {"userId":"anonymous","firstName":"Anonymous","lastName":"User","emailAddress":"anonymous@example.org","source":"default","status":"active","roles":{{ .Values.config.anonymous.roles | toJson }},"externalRoles":[]}
{{- end }}
{{- range .Values.config.users }}
  {{ .userId }}-user.json: |
    {{- omit . "password" | toJson | nindent 4 }}
{{- end }}
{{- if .Values.config.ldap.enabled }}
  ldap.json: |
{{- with omit .Values.config.ldap "enabled" "authPassword" }}
    {{-  toJson . | nindent 4 }}
{{- end }}
{{- end }}
{{- range $index, $blobStore := .Values.config.blobStores }}
  {{ $index | add 1000 | toString | substr 1 -1 }}-blobstore.json: |
    {{- if eq $blobStore.type "s3" }}
    {{- if hasKey $blobStore.bucketConfiguration "bucketSecurity" }}
    {{- $bucketConfiguration := $blobStore.bucketConfiguration }}
    {{- $bucketSecurity := $bucketConfiguration.bucketSecurity }}
    {{- $blobStore = merge (omit $blobStore "bucketConfiguration") (dict "bucketConfiguration" (merge (omit $bucketConfiguration "bucketSecurity") (dict "bucketSecurity" (omit $bucketSecurity "secretAccessKey")))) }}
    {{- end }}
    {{- end }}
    {{- $blobStore | toJson | nindent 4 }}
{{- end }}
{{- range $index, $cleanup := .Values.config.cleanup }}
  {{ $index | add 1000 | toString | substr 1 -1 }}-cleanup.json: |
    {{- $cleanup | toJson | nindent 4 }}
{{- end }}
{{- range $index, $repo := .Values.config.repos }}
  {{ $index | add 1000 | toString | substr 1 -1 }}-repo.json: |
    {{- omit $repo "password" | toJson | nindent 4 }}
{{- end }}
{{- range $index, $task := .Values.config.tasks }}
  {{ $index | add 1000 | toString | substr 1 -1 }}-task.json: |
    {{- $task | toJson | nindent 4 }}
{{- end }}
{{- end }}
