apiVersion: v2
name: vertical-pod-autoscaler
description: Helm chart for the Vertical Pod Autoscaler.
type: application
version: 1.8.2
appVersion: 1.3.1
keywords:
  - kubernetes
  - autoscale
  - autoscaling
  - vertical
  - vpa
home: https://github.com/kubernetes/autoscaler/
icon: https://raw.githubusercontent.com/stevehipwell/helm-charts/main/charts/vertical-pod-autoscaler/icon.png
sources:
  - https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler/
  - https://github.com/stevehipwell/helm-charts/
maintainers:
  - name: stevehipwell
    email: steve.hipwell@gmail.com
annotations:
  artifacthub.io/crds: |
    - kind: VerticalPodAutoscalerCheckpoint
      version: v1
      name: verticalpodautoscalercheckpoints.autoscaling.k8s.io
      displayName: VerticalPodAutoscalerCheckpoint
      description: Represents the checkpoint of the internal state of VPA that is used for recovery after recommender's restart.
    - kind: VerticalPodAutoscalerCheckpoint
      version: v1
      name: verticalpodautoscalers.autoscaling.k8s.io
      displayName: VerticalPodAutoscaler
      description: Represents the configuration for a vertical pod autoscaler, which automatically manages pod resources based on historical and real time resource utilization.
