{{- if .Values.compact.enabled -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "thanos.compact.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thanos.compact.labels" . | nindent 4 }}
spec:
  serviceName: {{ printf "%s-headless" (include "thanos.compact.fullname" .) }}
  replicas: 1
  {{- with .Values.compact.updateStrategy }}
  updateStrategy:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "thanos.compact.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "thanos.compact.selectorLabels" . | nindent 8 }}
      {{- with .Values.compact.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if or .Values.objstoreConfig.create (gt (len .Values.compact.podAnnotations) 0) }}
      annotations:
      {{- if .Values.objstoreConfig.create }}
        checksum/config: {{ include "thanos.objstoreConfigHash" . }}
      {{- end }}
      {{- with .Values.compact.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "thanos.compact.serviceAccountName" . }}
      {{- with .Values.compact.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.compact.priorityClassName }}
      priorityClassName: {{ . | quote }}
      {{- end }}
      {{- with .Values.compact.terminationGracePeriodSeconds }}
      terminationGracePeriodSeconds: {{ . }}
      {{- end }}
      containers:
        - name: thanos-compact
          {{- with .Values.compact.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ include "thanos.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: HOST_IP_ADDRESS
              valueFrom:
                fieldRef:
                  fieldPath: status.hostIP
          {{- with .Values.compact.extraEnv }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          args:
            - compact
            - --wait
            - --log.level={{ .Values.logLevel }}
            - --log.format={{ .Values.logFormat }}
            - --http-address=0.0.0.0:{{ .Values.httpPort }}
            - --data-dir=/var/thanos/compact
            - --objstore.config-file=/etc/thanos/objstore.yaml
          {{- if .Values.autoGomemlimit.enabled }}
            - --enable-auto-gomemlimit
          {{- with .Values.autoGomemlimit.ratio }}
            - --auto-gomemlimit.ratio={{ . }}
          {{- end }}
          {{- end }}
          {{- if .Values.compact.deduplication.enabled }}
            - --compact.enable-vertical-compaction
          {{- range (concat .Values.additionalReplicaLabels (ternary (list "rule_replica") (list) .Values.rule.enabled ) (ternary (list "receive_replica") (list) .Values.receive.enabled )) | uniq }}
            - --deduplication.replica-label={{ . }}
          {{- end }}
          {{- if .Values.compact.deduplication.func }}
            - --deduplication.func={{ .Values.compact.deduplication.func }}
          {{- else if .Values.compact.replicaDeduplication }}
            - --deduplication.func=penalty
          {{- end }}
          {{- end }}
          {{- with .Values.compact.extraArgs }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              protocol: TCP
              containerPort: {{ .Values.httpPort}}
          livenessProbe:
            {{- toYaml .Values.compact.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.compact.readinessProbe | nindent 12 }}
          volumeMounts:
            - mountPath: /etc/thanos/objstore.yaml
              name: objstore-config
              subPath: {{ .Values.objstoreConfig.key }}
              readOnly: true
            - mountPath: /var/thanos/compact
              name: data
              readOnly: false
          {{- with .Values.compact.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.compact.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: objstore-config
          secret:
            secretName: {{ include "thanos.objstoreConfigSecretName" . }}
      {{- if not .Values.compact.persistence.enabled }}
        - name: data
          emptyDir: {}
      {{- end }}
      {{- with .Values.compact.extraVolumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.compact.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.compact.affinity }}
      {{- $_ := include "thanos.compact.patchAffinity" $ }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.compact.topologySpreadConstraints }}
      {{- $_ := include "thanos.compact.patchTopologySpreadConstraints" $ }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.compact.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.compact.persistence.enabled }}
  volumeClaimTemplates:
    - metadata:
        name: data
        labels:
          {{- include "thanos.compact.selectorLabels" . | nindent 10 }}
        {{- with .Values.compact.persistence.annotations }}
        annotations:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      spec:
      {{- with .Values.compact.persistence.storageClass }}
      {{- if (eq "-" .) }}
        storageClassName: ""
      {{- else }}
        storageClassName: {{ . }}
      {{- end }}
      {{- end }}
        accessModes:
          - {{ .Values.compact.persistence.accessMode }}
        resources:
          requests:
            storage: {{ .Values.compact.persistence.size }}
  {{- if semverCompare ">= 1.27-0" .Capabilities.KubeVersion.Version }}
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: {{ ternary "Retain" "Delete" .Values.compact.persistence.retainDeleted }}
    whenScaled: {{ ternary "Retain" "Delete" .Values.compact.persistence.retainScaled }}
  {{- end }}
  {{- end }}
{{- end -}}
