apiVersion: v2
name: thanos
description: Helm chart to install Thanos; a set of components that can be composed into a highly available metric system with unlimited storage capacity, which can be added seamlessly on top of existing Prometheus deployments.
type: application
version: 1.23.0
appVersion: 0.40.1
keywords:
  - kubernetes
  - thanos
  - prometheus
  - monitoring
  - alerting
  - metrics
home: https://thanos.io/
icon: https://raw.githubusercontent.com/stevehipwell/helm-charts/main/charts/thanos/icon.png
sources:
  - https://github.com/thanos-io/thanos
  - https://github.com/thanos-io/kube-thanos
  - https://github.com/stevehipwell/helm-charts/
maintainers:
  - name: stevehipwell
    email: steve.hipwell@gmail.com
annotations: {}
