metrics:
  enabled: true

persistence:
  enabled: true
  retainDeleted: false
  retainScaled: false

caCerts:
  enabled: true
  secret: nexus3-cas

plugins: []
#   - name: nexus-repository-composer
#     url: https://repo1.maven.org/maven2/org/sonatype/nexus/plugins/nexus-repository-composer/0.0.29/nexus-repository-composer-0.0.29-bundle.kar

rootPassword:
  secret: nexus3-root-credentials

config:
  enabled: true
  anonymous:
    enabled: true
    roles:
      - nx-anonymous
      - nx-metrics
  realms:
    enabled: true
    values:
      - NexusAuthenticatingRealm
      - LdapRealm
      - DockerToken
      - NpmToken
      - NuGetApiKey
      - rutauth-realm
  blobStores: []
  cleanup:
    - name: ExampleCleanup
      notes: "Cleanup content that hasn't been updated in 14 days downloaded in 28 days."
      format: ALL_FORMATS
      mode: delete
      criteria:
        isPrerelease:
        lastBlobUpdated: "1209600"
        lastDownloaded: "2419200"
        regex:
  repoCredentials:
    enabled: false
  repos:
    - name: test-repo
      format: raw
      type: hosted
      online: true
      storage:
        blobStoreName: default
        strictContentTypeValidation: false
        writePolicy: allow
      cleanup:
        policyNames:
          - ExampleCleanup
  roles:
    - id: nexus-administrators
      source: default
      name: nexus-administrators
      description: LDAP Administrator Role
      privileges: []
      roles:
        - nx-admin
    - id: test-role
      name: test
      description: test role
      privileges: []
      roles: []
  users:
    - userId: test
      firstName: Test
      lastName: User
      emailAddress: test@example.org
      source: default
      status: active
      roles:
        - nx-anonymous
      externalRoles: []
      password:
        secret: test-user
        key: passwordx
    - userId: test2
      firstName: Test2
      lastName: User
      emailAddress: test2@example.org
      status: active
      roles:
        - nx-anonymous
      externalRoles: []
      password:
        secret: test-user2
    - userId: t
      firstName: T
      lastName: User
      emailAddress: t@example.org
      source: default
      status: active
      roles:
        - nx-anonymous
      externalRoles: []
  ldap:
    enabled: false
  tasks:
    - name: "Cleanup service"
      typeId: repository.cleanup
      crontab: "0 0 0 * * ?"
    - name: "Docker cleanup uploads"
      typeId: repository.docker.upload-purge
      crontab: "0 0 0 * * ?"
      attributes:
        age: "24"
    - name: "Docker cleanup artifacts"
      typeId: repository.docker.gc
      crontab: "0 0 1 * * ?"
      attributes:
        repositoryName: "*"
    - name: "Cleanup blob store"
      typeId: blobstore.compact
      crontab: "0 0 2 * * ?"
      attributes:
        blobStoreName: "default"

service:
  additionalPorts:
    - port: 8083
      name: docker-hosted
      containerPort: 8083
      hosts:
        - nexus-docker-hosted-1.local
        - nexus-docker-hosted-2.local

testResources: true
