apiVersion: v2
name: nexus3
description: Helm chart for Sonatype Nexus 3 OSS.
type: application
version: 4.44.1
appVersion: 3.70.1
home: https://www.sonatype.com/nexus-repository-oss
icon: https://raw.githubusercontent.com/stevehipwell/helm-charts/main/charts/nexus3/icon.png
keywords:
  - artifacts
  - dependency
  - management
  - sonatype
  - nexus
  - repository
sources:
  - https://github.com/sonatype/docker-nexus3
  - https://hub.docker.com/r/sonatype/nexus3
  - https://github.com/stevehipwell/helm-charts/
maintainers:
  - name: stevehipwell
    email: steve.hipwell@gmail.com
annotations:
  artifacthub.io/alternativeName: nexus
  artifacthub.io/changes: |
    - kind: added
      description: "Added `service.additionalPorts.hosts` (list) for multi-hosts support."
    - kind: changed
      description: "Updated the _Nexus3_ OCI image to [v3.70.1](https://github.com/sonatype/nexus-public/releases/tag/release-3.70.1-02)."
    - kind: deprecated
      description: "Deprecated `service.additionalPorts.host` in favour of `service.additionalPorts.hosts`."
