apiVersion: v2
name: nexus3
description: Helm chart for Sonatype Nexus 3 OSS.
type: application
version: 5.19.0
appVersion: 3.89.0
home: https://www.sonatype.com/products/sonatype-nexus-repository
icon: https://raw.githubusercontent.com/stevehipwell/helm-charts/main/charts/nexus3/icon.png
keywords:
  - artifacts
  - dependency
  - management
  - sonatype
  - nexus
  - repository
sources:
  - https://github.com/sonatype/nexus-public
  - https://github.com/sonatype/docker-nexus3
  - https://github.com/stevehipwell/helm-charts/
maintainers:
  - name: stevehipwell
    email: steve.hipwell@gmail.com
annotations:
  artifacthub.io/alternativeName: nexus
