apiVersion: v2
name: nexus3
description: Helm chart for Sonatype Nexus 3 OSS.
type: application
version: 4.45.1
appVersion: 3.70.2
home: https://www.sonatype.com/nexus-repository-oss
icon: https://raw.githubusercontent.com/stevehipwell/helm-charts/main/charts/nexus3/icon.png
keywords:
  - artifacts
  - dependency
  - management
  - sonatype
  - nexus
  - repository
sources:
  - https://github.com/sonatype/docker-nexus3
  - https://hub.docker.com/r/sonatype/nexus3
  - https://github.com/stevehipwell/helm-charts/
maintainers:
  - name: stevehipwell
    email: steve.hipwell@gmail.com
annotations:
  artifacthub.io/alternativeName: nexus
  artifacthub.io/changes: |
    - kind: changed
      description: "Updated the _Nexus3_ OCI image to [v3.70.2](https://hub.docker.com/layers/sonatype/nexus3/3.70.2-java17-alpine/images/sha256-2673b4f2ad59838d87ea066b6a275d4520b0aa1c0271f24954276eaa6686adf0?context=explore)."
