apiVersion: v1
name: nexus3
version: 2.5.6
appVersion: 3.25.0
description: Helm chart for Sonatype Nexus OSS.
keywords:
- artifacts
- dependency
- management
- sonatype
- nexus
- repository
home: https://www.sonatype.com/nexus-repository-oss
icon: http://www.sonatype.org/nexus/content/uploads/2015/06/Nexus-Logo.jpg
sources:
- https://github.com/sonatype/docker-nexus3
- https://hub.docker.com/r/sonatype/nexus3
maintainers:
- name: Steve Hipwell
  email: steve.hipwell@gmail.com
