{{- if and .Values.query.enabled .Values.query.autoscaling.enabled (or .Values.query.autoscaling.targetCPUUtilizationPercentage .Values.query.autoscaling.targetMemoryUtilizationPercentage) }}
apiVersion: {{ include "thanos.hpa.apiVersion" . }}
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "thanos.query.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thanos.query.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "thanos.query.fullname" . }}
  minReplicas: {{ .Values.query.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.query.autoscaling.maxReplicas }}
  metrics:
  {{- with .Values.query.autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ . }}
  {{- end }}
  {{- with .Values.query.autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ . }}
  {{- end }}
{{- end }}
