{{- if and .Values.query.enabled .Values.query.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "thanos.query.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thanos.query.labels" . | nindent 4 }}
  {{- with .Values.query.serviceAccount.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.query.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.query.serviceAccount.automountToken }}
{{- end -}}
