apiVersion: v2
name: sonarqube
description: A Helm chart for deploying SonarQube.
type: application
version: 1.3.2
appVersion: 8.8.0
keywords:
  - sonarqube
  - sast
  - analysis
  - security
  - code
  - coverage
  - quality
home: https://www.sonarqube.org/
icon: https://pbs.twimg.com/profile_images/1224335491899760641/h404B5dU_400x400.jpg
sources:
  - https://github.com/SonarSource/sonarqube/
  - https://github.com/SonarSource/docker-sonarqube/
  - https://github.com/stevehipwell/helm-charts/
maintainers:
  - name: stevehipwell
    email: steve.hipwell@gmail.com
dependencies:
  - name: postgresql
    version: ~10.3.17
    repository: https://charts.bitnami.com/bitnami/
    condition: postgresql.enabled
annotations:
  artifacthub.io/changes: |
    - Add custom values for chart CI
