{{- if .Values.updater.podDisruptionBudget.enabled -}}
apiVersion: {{ include "vertical-pod-autoscaler.pdb.apiVersion" . }}
kind: PodDisruptionBudget
metadata:
  name: {{ include "vertical-pod-autoscaler.updater.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "vertical-pod-autoscaler.updater.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "vertical-pod-autoscaler.updater.selectorLabels" . | nindent 6 }}
{{- if .Values.updater.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.updater.podDisruptionBudget.minAvailable }}
{{- end  }}
{{- if .Values.updater.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.updater.podDisruptionBudget.maxUnavailable }}
{{- end  }}
{{- end -}}
