{{- if .Values.storeGateway.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-headless" (include "thanos.storeGatewayFullname" .) }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thanos.storeGatewayLabels" . | nindent 4 }}
    prometheus.io/service-monitor: "false"
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: grpc
      port: 10901
      targetPort: grpc
    - name: http
      protocol: TCP
      port: 10902
      targetPort: http
  selector:
    {{- include "thanos.storeGatewaySelectorLabels" . | nindent 4 }}
{{- end -}}
