{{- if .Values.storeGateway.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "thanos.storeGatewayFullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thanos.storeGatewayLabels" . | nindent 4 }}
  {{- with .Values.storeGateway.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  ports:
    - name: grpc
      port: 10901
      targetPort: grpc
    - name: http
      protocol: TCP
      port: 10902
      targetPort: http
  selector:
    {{- include "thanos.storeGatewaySelectorLabels" . | nindent 4 }}
{{- end }}
