{{- if and .Values.storeGateway.serviceAccount.create .Values.storeGateway.enabled -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "thanos.storeGateway.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "thanos.storeGateway.labels" . | nindent 4 }}
  {{- with .Values.storeGateway.serviceAccount.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.storeGateway.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.storeGateway.serviceAccount.automountToken }}
{{- end -}}
