{{- $serviceConfig := merge (merge (dict "daemon" false "http_server" true "http_Port" .Values.service.httpPort "parsers_file" "/fluent-bit/etc/parsers.conf") (ternary (dict "storage.path" "${STORAGE_PATH}" "storage.metrics" .Values.config.storage.metrics) (dict) .Values.config.storage.enabled)) .Values.config.service -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fluent-bit-collector.configConfigMapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "fluent-bit-collector.labels" . | nindent 4 }}
data:
  fluent-bit.conf: |-
    [SERVICE]
{{- range $k, $v := $serviceConfig }}
        {{ printf "%s %s" $k (toString $v) }}
{{- end }}
{{- if .Values.config.customParsers }}
        parsers_file ${CONFIG_PATH}/custom-parsers.conf
{{- end }}
{{ print "" }}
{{- (tpl .Values.config.pipeline .) | nindent 4 }}
{{- with .Values.config.customParsers }}
{{ print "" }}
  custom-parsers.conf: |-
{{- (tpl . $) | nindent 4 }}
{{- end }}
{{- range $k, $v := .Values.config.extraFiles }}
{{ print "" }}
  {{ $k }}: |-
{{- (tpl $v $) | nindent 4 }}
{{- end }}
