name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release-*
    paths:
      - charts/**/Chart.yaml

permissions: read-all

jobs:
  workflow:
    name: Reusable Workflow
    uses: action-stars/helm-workflows/.github/workflows/release.yaml@a05629b0f7db2ed3df41aba6b0140205f70f9efa # v0.5.5
    permissions:
      contents: write
      id-token: write
      packages: write
    secrets:
      oci_password: ${{ secrets.GITHUB_TOKEN }}
    with:
      chart_dir: charts
      release_as_latest: true
      release_notes: true
      publish_gh_pages: true
      publish_oci: true
      oci_registry: "ghcr.io"
      oci_username: ${{ github.actor }}
      oci_repository_prefix: ${{ github.repository }}
