name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - charts/**/Chart.yaml

jobs:
  workflow:
    name: Reusable Workflow
    uses: action-stars/helm-workflows/.github/workflows/release.yaml@3a17ba55590bf2f23cd7f2bebb105cfbb0d9adeb # v0.1.0
    permissions:
      contents: write
      id-token: write
      packages: write
    secrets:
      oci_password: ${{ secrets.GITHUB_TOKEN }}
    with:
      chart_dir: charts
      helm_repos: "bitnami=https://charts.bitnami.com/bitnami/"
      release_name_template: "{{ .Name }}-{{ .Version }}"
      release_as_latest: true
      release_notes: true
      publish_gh_pages: true
      publish_oci: true
      oci_registry: "ghcr.io"
      oci_username: ${{ github.actor }}
      oci_repository_prefix: ${{ github.repository }}
