name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - release-*
    paths:
      - charts/**/Chart.yaml

permissions: read-all

jobs:
  workflow:
    name: Reusable Workflow
    uses: action-stars/helm-workflows/.github/workflows/release.yaml@1f7bf2a447a90824395c0ed2428419e660a420ab # v0.8.10
    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: write
    secrets:
      oci_password: ${{ secrets.GITHUB_TOKEN }}
    with:
      chart_dir: charts
      release_as_latest: true
      release_notes: true
      publish_gh_pages: true
      publish_oci: true
      oci_registry: "ghcr.io"
      oci_username: ${{ github.actor }}
      oci_repository_prefix: ${{ github.repository }}
      ah_lint: true
