name: Validate PR

on:
  pull_request:
    branches:
      - main

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    outputs:
      changed: ${{ steps.changed.outputs.any_changed }}
      k8s_versions: ${{ steps.setup.outputs.k8s_versions }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 2

      - name: Chart changes
        id: changed
        uses: tj-actions/changed-files@ed68ef82c095e0d48ec87eccea555d944a631a4c # v46.0.5
        with:
          files: charts/**

      - name: Setup
        id: setup
        run: |
          set -euo pipefail

          k8s_versions="$(curl -s https://endoflife.date/api/kubernetes.json | jq -r '[sort_by(.releaseDate) | reverse | .[0:4] | "\(.[].cycle).0"] | join(",")')"
          echo "k8s_versions=${k8s_versions}" >> "${GITHUB_OUTPUT}"

  validate:
    name: Validate
    uses: action-stars/helm-workflows/.github/workflows/validate.yaml@fbf454df626b05cbe5beef857357717fb508154a # v0.8.4
    needs: setup
    if: needs.setup.outputs.changed == 'true'
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    with:
      chart_dir: charts
      target_branch: main
      helm_docs: true
      helm_docs_args: --template-files=./_templates.gotmpl --template-files=./_chart-readme.md.gotmpl
      changelog: true
      ah_lint: true
      kubeconform: true
      kubeconform_k8s_versions: ${{ needs.setup.outputs.k8s_versions }}
      helm_extra_args: "--timeout 600s"

  check:
    name: Check
    needs: validate
    if: always()
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Check
        run: |
          set -euo pipefail

          if [[ "${{ needs.validate.result }}" == "failure" ]] || [[ "${{ needs.validate.result }}" == "cancelled" ]]; then
            echo "::error::Workflow failed!"
            exit 1
          fi
