apiVersion: v1
kind: Service
metadata:
  name: {{ include "confluence-server.fullname" . }}
  labels:
    {{- include "confluence-server.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{ . | toYaml | trim | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 8091
      targetPort: synchrony
      protocol: TCP
      name: synchrony
  selector:
    {{- include "confluence-server.selectorLabels" . | nindent 4 }}
